.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code ExtensionsS
*.vsix

# ignore creds for gspread
service_account.json

#Contains Twilio information for sending txts
twilio_creds.env

#Testing twilio
twilio_test.py
