body {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  div#login-box, div#register-box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px #ccc;
    text-align: center;
    font-family: Arial, sans-serif;
}
 ul#register {
    text-align: center;
    padding-right: 40px;
 }