<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <form id="register" action="{{ url_for('routes.register')}}" method="POST" class="box is-one-quarter">
            <div class="field">
              <label class="label">Email:</label>
              <div class="control">
                <input type="email" id="email" name="email" required class="input is-one-third">
              </div>
            </div>
            <div class="field">
              <label class="label">Password:</label>
              <div class="control">
                <input type="password" id="password" name="password" required class="input is-one-third">
              </div>
            </div>
            <div class="field">
              <label class="label">Confirm Password:</label>
              <div class="control">
                <input type="password" id="confirm_password" name="confirm_password" required class="input is-one-third">
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <input type="submit" value="Register" class="button is-link">
              </div>
            </div>
          </form>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="notification is-danger">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </section>
  </body>
</html>